:root {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(220, 13%, 13%);
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
}

/* Reset */
img,
button {
    display: block;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.spread {
    justify-content: space-between;
}

.g1 {
    gap: 1rem
}

.g2 {
    gap: 2rem
}

header,
main {
    max-width: 69.375rem;

}

header {
    position: relative;
    align-items: center;
    margin: 0 auto;
    padding: 2.5rem 0;
    border-bottom: 1px solid #E9E9E9;
}

nav {
    position: relative;
}

nav>ul a {
    color: hsl(219, 9%, 45%);
    position: relative;
}

nav>ul a:hover {
    color: hsl(220, 13%, 13%);
}

nav>ul a::after {
    content: "";
    display: none;
    height: 4px;
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    position: absolute;
    top: 4.375rem;
}

nav>ul a:hover::after {
    display: block;
}

.left {
    align-items: center;
}

.logo {
    height: 2rem;
}

.profile-pic {
    width: 3rem;
    border: 2px solid transparent;
    border-radius: 50%;
}

.profile-pic:hover {
    cursor: pointer;
    border: 2px solid hsla(26, 100%, 55%, 0.7);
}

.cart-btn {
    background: url('icon-cart.svg') no-repeat center;
    width: 22px;
    position: relative;
}

.cart-btn small {
    position: absolute;
    top: 0.75rem;
    right: -2px;
    font-size: 0.5rem;
    padding: 0 0.25rem;
    font-family: inherit;
    background-color: hsl(26, 100%, 55%);
    border-radius: 0.5rem;
    color: #fff;
}

main {
    margin: 0 auto;
    padding: 3rem;
    gap: 7rem;
}

main.mobile {
    padding: 3rem 0;
}

main>section {
    flex: 1;
}

main>section>input {
    width: 100%;
    border-radius: 1rem;
}

main>section .row.spread {
    margin-top: 2.25rem;
}

.small-img-container>img {
    width: 20%;
    border: 2px solid transparent;
    border-radius: 1rem;
}

.lb-img-bg {
    background-color: #fff;
    border-radius: 1rem;
    align-items: center;
    width: 20%;
    height: calc(100% - 2px);
}

.lb-img-bg img {
    width: 100%;
    border-radius: 1rem;
}

.small-img-container img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.small-img-container img.selectedItem {
    opacity: 0.5;
}

.small-img-container>img.selectedItem,
.small-img-container img:hover {
    background-color: hsl(26, 100%, 55%);
}

.lb-img-bg:has(.selectedItem) {
    border: 2px solid hsl(26, 100%, 55%);
}

/* Product info section */
main>section:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-transform: uppercase;
    color: hsl(219, 9%, 45%);
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

h1 {
    font-weight: 700;
    font-size: 2.75rem;
    margin: 1.1rem 0 2.35rem;
    line-height: 1.1;
}

main>section:last-child>p {
    color: hsl(219, 9%, 45%);
    line-height: 1.6;
    margin-bottom: 2rem;
}

.price-container {
    align-items: center;
}

.new-price {
    font-size: 1.8rem;
    font-weight: 700;
}

.discount {
    color: #fff;
    background: hsl(220, 13%, 13%);
    padding: 0.25rem 0.75rem;
    border-radius: 0.3rem;
}

.old-price {
    margin: 1rem 0 2rem;
    color: hsl(219, 9%, 45%);
    text-decoration: line-through;
    font-weight: 700;
}

/* Add to cart section */
.cart-section {
    align-items: center;
    justify-content: space-between;
}

.cart-section>div {
    flex: 4;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.75rem;
    background-color: hsl(223, 64%, 98%);
    width: 100%;
}

.add-cart {
    background: url('icon-cart.svg') no-repeat hsl(26, 100%, 55%);
    background-position: calc(50% - 3rem) center;
    background-size: 1.2rem;
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 0.75rem;
    flex: 6;
    width: 100%;
    text-align: center;
}

.cart-section>div>button {
    height: 1rem;
    width: 1rem;
}

.remove-product {
    background: url('icon-minus.svg') no-repeat center;
}

.add-product {
    background: url('icon-plus.svg') no-repeat center;
}

button:hover {
    cursor: pointer;
}

.add-cart:hover {
    opacity: 0.7;
}

/* Cart */
.cart {
    position: absolute;
    right: -5rem;
    top: 5rem;
    padding: 1rem 0;
    box-shadow: 0px 13px 20px 7px hsla(0, 0%, 0%, 25%);
    border-radius: 0.75rem;
    width: 22.5rem;
    background-color: #fff;
    z-index: 1000;
}

.cart hr {
    border: none;
    border-bottom: solid 1px #E9E9E9;
}

.cart>p {
    font-weight: 700;
    padding: 0 1.5rem 1rem;
}

.cart>p:last-child {
    padding: 5rem 1rem;
    color: hsl(219, 9%, 45%);
    text-align: center;
}

.product-data-container {
    padding: 2rem 1rem;
    align-items: center;
}

.product-data-container img {
    width: 3rem;
    border-radius: 0.3rem;
}

.product-data-container div p {
    color: hsl(219, 9%, 45%);
}

.bold {
    color: hsl(220, 13%, 13%);
    font-weight: 700;
}

.remove-item {
    height: 1rem;
    width: 1rem;
    background: url('icon-delete.svg') no-repeat center;
}

.checkout-btn {
    background-color: hsl(26, 100%, 55%);
    padding: 1.25rem;
    width: calc(100% - 2rem);
    border-radius: 0.75rem;
    margin: 1rem;
    text-align: center;
}

/* Lightbox */
.lightbox {
    background-color: hsla(0, 0%, 0%, 75%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay {
    background-color: hsla(0, 0%, 0%, 75%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.lightbox>section,
.lightbox-mobile>section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lightbox>section {
    max-width: 35%;
}

.lightbox-mobile>section {
    max-width: 100%;
    width: 100%;
}

.lightbox .main-img,
.lightbox .small-img-container,
.lightbox-mobile .small-img-container {
    width: 100%;
    border-radius: 1rem;
}

.lightbox-mobile .main-img {
    width: 100%;
}

.lightbox .small-img-container,
.lightbox-mobile .small-img-container {
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 3rem;
}

.lightbox .small-img-container img::after,
.lightbox-mobile .small-img-container img::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.lightbox>section>button,
.lightbox-mobile>section>button {
    margin-left: auto;
    background: url('icon-close.svg') no-repeat center;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
}

.main-img-container {
    align-items: center;
    position: relative;
}

.btn-prev,
.btn-next {
    padding: 2rem;
    border-radius: 50%;
    position: absolute;
}

.btn-prev {
    background: url('icon-previous.svg') no-repeat center, white;
    left: -2rem;
}

.btn-prev.lb {
    left: 2rem;
}

.btn-next {
    background: url('icon-next.svg') no-repeat center, white;
    right: -2rem;
}

.btn-next.lb {
    right: 2rem;
}

.btn-prev:hover {
    background: url('/icon-previous-hover.svg') no-repeat center, white;
}

.btn-next:hover {
    background: url('/icon-next-hover.svg') no-repeat center, white;
}

/* Dropdown menu */
.dropdown-btn {
    height: 1.5rem;
    width: 2rem;
}

.dropdown-btn.open {
    background: url(/icon-menu.svg) no-repeat center;
    margin: 0 1rem;
    position: relative;
    left: 1rem;
}

.dropdown-btn.close {
    background: url(/icon-close.svg) no-repeat center;
    margin: 1rem 0 2rem;
    filter: grayscale(1);
}

/* Responsive */
@media screen and (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    main {
        gap: 2rem;
    }

    main.mobile {
        padding: 0;
    }

    main>section:nth-child(2) {
        margin: 0 1.5rem;
    }

    .cart {
        position: absolute;
        right: 0;
        top: 6rem;
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }

    .dropdown-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100vh;
        background: #fff;
        padding: 2rem;
        z-index: 1001;        
    }

    .dropdown-container > ul  {
        flex-direction: column;
    }

    .dropdown-container > ul > li > a{
        color: #000 !important;
        font-size: 1.25rem;
        font-weight: 700;
    }
}